body {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}
div#top {
	background-color: #A03300;
	background-image: url(img/header100.png);
	background-position: top center;
	background-repeat: repeat-x;
	background-size: 2160px 108px;
	margin: 0;
	height: 108px;
	width: 100%;
}
@media screen and (min-resolution: 1.25dppx) {
	div#top { background-image: url(img/header125.png); }
}
@media screen and (min-resolution: 1.5dppx) {
	div#top { background-image: url(img/header150.png); }
}
@media screen and (min-resolution: 1.75dppx) {
	div#top { background-image: url(img/header175.png); }
}
@media screen and (min-resolution: 2dppx) {
	div#top { background-image: url(img/header200.png); }
}
@media screen and (min-resolution: 2.25dppx) {
	div#top { background-image: url(img/header225.png); }
}
@media screen and (min-resolution: 2.5dppx) {
	div#top { background-image: url(img/header250.png); }
}
@media screen and (min-resolution: 3dppx) {
	div#top { background-image: url(img/header300.png); }
}
#btntop {
	background-color: #E0E0E0;
	width: 100%;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border-top: 1px solid #001030;
	border-bottom: 1px solid #001030;
}
#btntop div {
	width: 143px;
	height: 20px;
	text-align: center;
	background-color: #A03300;
	border-left: 1px solid #001030;
}
#btntop table {
	border-right: 1px solid #001030;
}
#btntop a {
	text-decoration: none;
	background: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
#btntop a:link, #btntop a:visited, #btntop a:hover, #btntop a:active {
	color: #FFFFFF; 
}
div.topad {
	margin: 20px 10px 30px 10px;
}
div#bodytext {
	position: absolute;
	left: 260px;
	max-width: 748px; /* 728 + 10 + 10 */
}
div#copyright {
	margin: 30px 5px 10px 10px;
	padding-top: 2px;
	border-top: groove #C0C0C0 2px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	text-align: justify;
	margin: 10px;
}
ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	margin-left: 24px;
	margin-right: 10px;
	padding-left: 0;
}
ul.noindent {
	margin-left: 10px;
}
ul li {
	list-style-position: inside;
}
ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	margin-left: 50px;
	margin-right: 10px;
	padding-left: 0;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
textarea {
	font-family: 'Andale Mono', 'Lucida Console', monospace;
	font-size: 14px;
	font-weight: normal;
}
table.body {
	margin: 10px;
}
th, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 19px;
}
td.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
}
td.yes {
	background-color: #E0FFE0;
	white-space: nowrap;
}
td.fail {
	background-color: #FFF4E8;
	white-space: nowrap;
}
table.reference {
	margin: 10px;
	border-collapse: collapse;
  	border: solid black 2px;
}
table.reference th {
	border-right: solid black 1px;
	border-bottom: solid black 1px;
	padding: 4px;
}
table.reference td {
	border-right: solid black 1px;
	border-bottom: solid black 1px;
	padding: 4px;
}
table.sidead td {
	font-size: 13px;
	line-height: 17px;
	text-align: justify;
	padding-left: 8px;
	padding-right: 10px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #C04C00;
	margin: 20px 10px 10px 10px;
	border-bottom: solid #C04C00 3px;
	padding-bottom: 3px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #C04C00;
	margin: 40px 10px 10px 10px;
	border-bottom: solid #C04C00 3px;
	padding-bottom: 3px;
}
#bodytext div.adsense {
	margin-left: 10px;
	margin-top: 30px;
}
#bodytext script+div.adsense {
	margin-top: 20px;
}
div.adsense+h1 {
	margin-top: 30px;
}
div.adsense+h2 {
	margin-top: 30px;
}
div#side {
	position: absolute;
}
table.side {
	border-style: solid;
	border-width: 2px;
	border-color: #803300;
	width: 255px;
	margin: 20px 5px 20px 10px;
}
table.sidead {
	background-color: #FFF4E8;
	border-style: solid;
	border-width: 2px;
	border-color: #803300;
	width: 255px;
	margin: 20px 5px 20px 10px;
}
td.sideheader {
	background-color: #FF6600;
	color: #FFFFFF;
	text-align: center;
	height: 28px;
}
#side div.adsense {
	margin-left: 55px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#side iframe.amazonsingle {
	margin-left: 75px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 120px;
	height: 240px;
}
div.amzn-native-container {
	margin: 20px 10px -10px 10px;
}
a:link { 
	color: #0000FF;
	text-decoration: underline;
} 
a:visited { 
	color: #000080;
} 
a:hover {
	color: #FFFFFF;
	background: #0000FF;
} 
a:active {
	color: #FFFFFF;
	background: #FF0000;
}
a:hover.img, a:active.img {
	background: none;
}
tt {
	font-family: 'Andale Mono', 'Lucida Console', monospace;
}
tt.match, tt.string {
	white-space: nowrap;
	padding-top: 1px;
	padding-bottom: 1px;
}
tt.match {
	background-color: #C0E0FF;
}
tt.string {
	background-color: #C0FFC0;
}
tt.code {
	white-space: nowrap;
}
tt span {
	padding-top: 1px;
	padding-bottom: 1px;
}
pre {
	font-family: 'Andale Mono', 'Lucida Console', monospace;
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	margin: 10px;
}
p.indent {
	margin-left: 30px;
}
p.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	font-weight: normal;
	margin: 0;
}
img.left {
	margin: 5px 10px 5px 0;
}
img.right {
	margin: 5px 0 5px 10px;
}
img.iconleft {
	margin: 0 10px 0 0;
}
img.side {
	margin: 20px 5px 0 10px;
}
form {
	margin: 0;
	padding: 0;
}
.characterstring { color: #0000FF; }
.comment { color: #FF0000; font-style: italic; }
.numericconstant { color: #000080; }
.reservedword { font-weight: bold; }
.longcode {
	font-size: 13px;
	line-height: 15px;
}
tt.regexbuddy {
	margin-left: 10px;
}
div.regexbuddyregex { 
        margin-top: 10pt; 
        margin-bottom: 10pt; 
}
div.regexbuddytree { 
        margin-top: 10pt; 
        margin-bottom: 10pt; 
        overflow-y: scroll; 
        height: 200%; 
}
div.regexbuddyfooter { 
        margin-top: 10pt; 
        margin-bottom: 10pt; 
}
ul.buddy {
	padding-left: 0;
}
li.char { background-image: url(http://www.regexbuddy.com/manual/btn/char.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.string { background-image: url(http://www.regexbuddy.com/manual/btn/string.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.escaped { background-image: url(http://www.regexbuddy.com/manual/btn/escaped.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.special { background-image: url(http://www.regexbuddy.com/manual/btn/special.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.meta { background-image: url(http://www.regexbuddy.com/manual/btn/meta.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.option { background-image: url(http://www.regexbuddy.com/manual/btn/option.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.optiongroup { background-image: url(http://www.regexbuddy.com/manual/btn/optiongroup.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.anchor { background-image: url(http://www.regexbuddy.com/manual/btn/anchor.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.repeat { background-image: url(http://www.regexbuddy.com/manual/btn/repeat.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.backreference { background-image: url(http://www.regexbuddy.com/manual/btn/backreference.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.call { background-image: url(http://www.regexbuddy.com/manual/btn/call.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.void { background-image: url(http://www.regexbuddy.com/manual/btn/void.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.fail { background-image: url(http://www.regexbuddy.com/manual/btn/fail.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.group { background-image: url(http://www.regexbuddy.com/manual/btn/group.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.capture { background-image: url(http://www.regexbuddy.com/manual/btn/capture.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.atomic { background-image: url(http://www.regexbuddy.com/manual/btn/atomic.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.lookaround { background-image: url(http://www.regexbuddy.com/manual/btn/lookaround.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.conditional { background-image: url(http://www.regexbuddy.com/manual/btn/conditional.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.alternate { background-image: url(http://www.regexbuddy.com/manual/btn/alternate.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.error { background-image: url(http://www.regexbuddy.com/manual/btn/error.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.comment { background-image: url(http://www.regexbuddy.com/manual/btn/comment.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.tip { background-image: url(http://www.regexbuddy.com/manual/btn/tip.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.comparesame { background-image: url(http://www.regexbuddy.com/manual/btn/comparesame.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.comparediff { background-image: url(http://www.regexbuddy.com/manual/btn/comparediff.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.cc { background-image: url(http://www.regexbuddy.com/manual/btn/cc.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccchar { background-image: url(http://www.regexbuddy.com/manual/btn/ccchar.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccstring { background-image: url(http://www.regexbuddy.com/manual/btn/ccstring.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccspecial { background-image: url(http://www.regexbuddy.com/manual/btn/ccspecial.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccrange { background-image: url(http://www.regexbuddy.com/manual/btn/ccrange.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccintersect { background-image: url(http://www.regexbuddy.com/manual/btn/ccintersect.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccvoid { background-image: url(http://www.regexbuddy.com/manual/btn/ccvoid.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.ccfail { background-image: url(http://www.regexbuddy.com/manual/btn/ccfail.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.lb { background-image: url(http://www.regexbuddy.com/manual/btn/lb.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
li.cclb { background-image: url(http://www.regexbuddy.com/manual/btn/cclb.png); list-style-type: none; padding-left: 24px; background-size: 16px; background-repeat: no-repeat; }
@media screen and (min-resolution: 1.5dppx) {
	li.char { background-image: url(http://www.regexbuddy.com/manual/btn150/char.png); }
	li.string { background-image: url(http://www.regexbuddy.com/manual/btn150/string.png); }
	li.escaped { background-image: url(http://www.regexbuddy.com/manual/btn150/escaped.png); }
	li.special { background-image: url(http://www.regexbuddy.com/manual/btn150/special.png); }
	li.meta { background-image: url(http://www.regexbuddy.com/manual/btn150/meta.png); }
	li.option { background-image: url(http://www.regexbuddy.com/manual/btn150/option.png); }
	li.optiongroup { background-image: url(http://www.regexbuddy.com/manual/btn150/optiongroup.png); }
	li.anchor { background-image: url(http://www.regexbuddy.com/manual/btn150/anchor.png); }
	li.repeat { background-image: url(http://www.regexbuddy.com/manual/btn150/repeat.png); }
	li.backreference { background-image: url(http://www.regexbuddy.com/manual/btn150/backreference.png); }
	li.call { background-image: url(http://www.regexbuddy.com/manual/btn150/call.png); }
	li.void { background-image: url(http://www.regexbuddy.com/manual/btn150/void.png); }
	li.fail { background-image: url(http://www.regexbuddy.com/manual/btn150/fail.png); }
	li.group { background-image: url(http://www.regexbuddy.com/manual/btn150/group.png); }
	li.capture { background-image: url(http://www.regexbuddy.com/manual/btn150/capture.png); }
	li.atomic { background-image: url(http://www.regexbuddy.com/manual/btn150/atomic.png); }
	li.lookaround { background-image: url(http://www.regexbuddy.com/manual/btn150/lookaround.png); }
	li.conditional { background-image: url(http://www.regexbuddy.com/manual/btn150/conditional.png); }
	li.alternate { background-image: url(http://www.regexbuddy.com/manual/btn150/alternate.png); }
	li.error { background-image: url(http://www.regexbuddy.com/manual/btn150/error.png); }
	li.comment { background-image: url(http://www.regexbuddy.com/manual/btn150/comment.png); }
	li.tip { background-image: url(http://www.regexbuddy.com/manual/btn150/tip.png); }
	li.comparesame { background-image: url(http://www.regexbuddy.com/manual/btn150/comparesame.png); }
	li.comparediff { background-image: url(http://www.regexbuddy.com/manual/btn150/comparediff.png); }
	li.cc { background-image: url(http://www.regexbuddy.com/manual/btn150/cc.png); }
	li.ccchar { background-image: url(http://www.regexbuddy.com/manual/btn150/ccchar.png); }
	li.ccstring { background-image: url(http://www.regexbuddy.com/manual/btn150/ccstring.png); }
	li.ccspecial { background-image: url(http://www.regexbuddy.com/manual/btn150/ccspecial.png); }
	li.ccrange { background-image: url(http://www.regexbuddy.com/manual/btn150/ccrange.png); }
	li.ccintersect { background-image: url(http://www.regexbuddy.com/manual/btn150/ccintersect.png); }
	li.ccvoid { background-image: url(http://www.regexbuddy.com/manual/btn150/ccvoid.png); }
	li.ccfail { background-image: url(http://www.regexbuddy.com/manual/btn150/ccfail.png); }
	li.lb { background-image: url(http://www.regexbuddy.com/manual/btn150/lb.png); }
	li.cclb { background-image: url(http://www.regexbuddy.com/manual/btn150/cclb.png); }
}
.regexnest1 { color: #000000; background-color: #60F040; }
.regexplain { background-color: #FFE0C0; }
.regexspecial { color: #000080; background-color: #80C0FF; }
.regexnest2 { color: #000000; background-color: #00C000; }
.regexnest3 { color: #FFFFFF; background-color: #006000; }
.regexccopen { color: #181000; background-color: #FFC040; font-weight: bold; }
.regexccspecial { color: #181000; background-color: #F09000; }
.regexccliteral { color: #302000; background-color: #FFC040; }
.regexescaped { color: #202020; background-color: #C0C0C0; }
.regexccrange { color: #302000; background-color: #F8A820; }
.regexcomment { color: #0000FF; background-color: #FFE0C0; font-weight: bold; font-style: italic; }
.regexerr { color: #FFFFFF; background-color: #FF0000; }
.regexmeta { color: #300040; background-color: #C080FF; }
.replaceplain { background-color: #FFF860; }
